﻿@color-background-dark: #272727;
@color-background-dark-light: #535353;
@color-background: #eeeeee;
@color-bright:  #2398c9;
@color-dim: #808080;
@page-width: 320px;
@offwhite: #fefefe; 

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body { 
    overflow-y: hidden;
    font-family: Trebuchet,'Trebuchet MS','Lucidia Sans',Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    font-weight: 100;
} 
/*input, .input-sm {
    padding: 2px 10px;
}*/
input, textarea, select {
    font-weight: bold;
}

label {
    font-size: 13px;
    margin-bottom: 0px;
}
h4 {
    color: @color-bright;
    font-weight: bold;
    font-size: 18px;
}
h5 {
    color: @color-bright;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1px;    
}

.form-group {
    margin-bottom: 11px;
}

.modal-body, .modal-header {
    padding: 10px;
}

.modal-footer {
    margin-top: 0;
}
.jumbotron-background {
    background-color: #3c5998;
    color: white;
}
.headerbar, .footerbar {
    background: @color-background-dark-light;
    position: fixed;
    z-index: 3;
    right: 0;
    left: 0;    
    padding: 2px;.dropdown-menu>li>a {
display: block;
padding: 8px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}
    padding-left: 10px;
    color: @offwhite;
    min-width: @page-width;
    //border-radius: 5px 0 0 5px;
    //box-shadow: 4px 4px 3px @color-background-dark-light;
}
.dropdown-menu>li>a {
    padding: 8px 20px !important;  
    font-size: 1.1em;  
}

.footerbar {
    bottom: 0;
    position: fixed;
    background-color: @color-background-dark-light;
    padding: 0;
    padding-left: 10px;
    border: none;
}

.content-area {
    margin-top: 33px;
    padding: 20px;  
    overflow-y: auto;  
    -webkit-overflow-scrolling: touch;
}
#Splash {
    width: 270px;    
    max-width: 500px;
    padding: 30px 15px;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    background: #353535; 
    text-align: center;   
    vertical-align: middle;
    box-shadow: 2px 2px 4px #535353;
    border-radius: 4px;
    position: absolute;
    display: none;
    z-index: 99999;
    opacity: 0.90;
}
#SplashByline {
    font-size: 14pt;
    font-weight: normal;
    margin: 35px 10px 30px ;
}
.fadeOut,.fadeIn {
    opacity: 0;    
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out; 
    -webkit-transition: opacity 0.8s ease-in-out; 
    transition: opacity 0.8s ease-in-out;    
}
.fadeIn {
    opacity: 1;
}
.height-transition {
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    overflow-y: hidden;
}
.height-transition-hidden {
    max-height: 0;
}
#Map {
    width: 100%;
    height: 280px;
    margin-top: 0;
}
#Map.content-area {
    padding: 0;
}

#Message {
    top: 57px;
    left: 35px;    
    margin-top: 34px;
    background: #4cae4c;
    xcolor: @color-background-dark-light;
    font-size: 8pt;
    font-weight: bold;
    box-shadow: 2px 2px 3px #535353;    
}
#GoCurrent
{
    background: #eee; 
    border: 1px solid silver; 
    border-radius: 3px;
    padding: 4px 7px;
    position: fixed;
    right: 3px;
    bottom: 63px;
    opacity: 0.90;
    cursor: pointer;
}
#Gravatar {
    border-radius: 4px;
    box-shadow: 2px 2px 3px #535353;
    margin-left: 7px;    
}
.app-icon {    
    height: 26px;
    padding-bottom: 1px;
}
.left-header {
    float: left;
    font-size: 16pt;
    font-weight: bold;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-weight: bold;  
    font-kerning: auto;  
}

.iconbutton {
    text-decoration: none;
    padding: 3px 6px;
    font-size: 8pt;
    border: solid 1px transparent;
    cursor: pointer;
    color: @offwhite;    
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    min-width: 50px;
}

    .iconbutton img {
        vertical-align: text-bottom;
    }

    .iconbutton a, a.iconbutton:hover, .iconbutton a:visited, a.iconbutton:visited {
        text-decoration: none;
        color: @offwhite; 
    }

    .iconbutton a:hover, a.iconbutton:hover {
        background: @color-dim;
        color: @offwhite;   
        cursor: pointer;
        text-decoration: none;        
    }
    .iconbutton.active, .iconbutton a.active:visited {
        background: #464646;      
        color: @offwhite;   
        text-decoration: none;
        border-bottom: 2px solid  #1dcaff;
    }

/*.google-map-canvas,
.google-map-canvas * {
    .box-sizing(content-box);
}*/

.right{
    float: right;
    text-align: right;
}
.history-item-small {
    font-size: 0.8em;
    color: @color-bright;
}
.history-item-header{
    font-weight: bold;
    font-size: 1.1em;
    color: @color-bright;
}
.history-item-address {
    font-size: smaller;
    color: @color-dim;
    margin-left: 25px;
}
.history-item, .history-item-options {
    padding: 5px 8px;
    border-bottom: solid 1px silver;
    cursor: pointer;
}
.history-item-options {
    background: @color-dim;
    border: none;
    padding: 10px 8px;   
    cursor: default;
}
.history-item-options>a.iconbutton {
    font-size: 0.875em;
    margin-right: 5px !important;
    cursor: pointer;
}
.history-item-options>a.iconbutton>i {
    font-size: 14pt;    
}

/* Optional responsive image override */
img {
    max-width: none;
}
.closebox,.closebox-container
{
	position: absolute;    	
    right: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background-image: url(images/close.png);
	background-repeat: no-repeat;
	cursor: pointer;    	
	opacity: 0.80;	
} 
.closebox-container {
    right: -10px;
	top: -10px;
   	width: 28px;
	height: 28px;
	background-image: url(images/closex.png);
}
.closebox:hover,.closebox-container:hover 
{	
	opacity: 1;	
}
/*Windows Phone*/
@-ms-viewport{width: auto !important; zoom: 1.0; max-zoom: 1.0; min-zoom: 1.0; }

/* IE Modern */
/*@-ms-viewport{width: device-width !important}*/



@-webkit-keyframes slideOutLeft {    
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }	
}
@keyframes slideOutLeft {

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* slide in from the bottom */
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0);
    }
}

.slide-animation.ng-enter {
    -webkit-animation: slideInRight 0.70s both ease-in;
    animation: slideInRight 0.70s both ease-in;
    z-index: 9999;    
}

.slide-animation.ng-leave {
   -webkit-animation: slideOutLeft 0.35s both ease-in;
    animation: slideOutLeft 0.35s both ease-in;
    z-index: 8888;
}



@media (max-width: 479px)
{
    .jumbotron h1{
        font-size: 25pt;        
    }
    .jumbotron li { 
        font-size: 12pt;    
    }
    .btn.stacked {
         display: block;
         width: 100% !important;   
         margin-bottom: 4px !important;               
    }
}


