<div id="LoginDialog" data-icon="SearchIcon">
    <form action="javascript:{}">
        <div class="headerbar">
            <div class="right">
                <a class="iconbutton btn" style="margin-right: 2px;" ng-click="saveAccount()">
                    <i class="fa fa-check fa-2x" style="color: lightgreen; "></i> Save Profile
                </a>
            </div>
            <div class="left-header" onclick="window.location.href = '#/map';" style="cursor: pointer;">
                Geo<img src="../touch-icon.png" class="app-icon" />Crumbs
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="content-area" style="padding-top: 10px;">
            <img id="Gravatar" src="{{credentials.gravatar}}" class="right" />

            <i class="fa fa-spinner fa-spin right" ng-show="processing"></i>
            <h4>My Profile</h4>

            <div class="clearfix" style="margin-bottom: 10px; "></div>
            <div class="form-group">
                <div class="input-group">
                    <div class=" input-group-addon">
                        <i class="fa fa-user fa-fw"></i>
                    </div>
                    <input type="text" class="form-control" id="Alias"
                           placeholder="Enter your name or alias"
                           ng-model="credentials.name" ng-required />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class=" input-group-addon">
                        <i class="fa fa-envelope fa-fw"></i>
                    </div>

                    <input type="email" class="form-control" id="UserName"
                           placeholder="Enter your email address to log in with"
                           ng-model="credentials.username" ng-required/>
                </div>
            </div>

            <a href="javascript:{}" 
               ng-click="onChangePassword()"
                    ng-show="!isChangePassword"                    
               style="display: block; margin-top: 5px; margin-bottom: 15px;"
               >
                Change your password
            </a>

            <div class="form-group" ng-show="isChangePassword">
                <div class="input-group">
                    <div class=" input-group-addon">
                        <i class="fa fa-lock fa-fw"></i>
                    </div>

                    <input type="password" class="form-control" id="Password"
                           placeholder="Change your password"                           
                           ng-model="credentials.password" />

                </div>
            </div>
            <div class="form-group" ng-show="isChangePassword">
                <div class="input-group">
                    <div class=" input-group-addon">
                        <i class="fa fa-lock fa-fw"></i>
                    </div>

                    <input type="password" class="form-control" id="Password"
                           placeholder="Validate your password"
                           ng-model="credentials.password2" />
                </div>
            </div>



            <div class="form-group">

                <input type="checkbox" id="UseGoogleMaps"
                       ng-model="credentials.useGoogleMaps" />
                <label for="UseGoogleMaps">Use Google Maps when available</label>
            </div>

            <hr />

            <input type="hidden" id="Id" ng-model="credentials.id" />
            <div class="modal-footer" style="border-top: none;margin: 0px; padding-top: 5px;">
                <a href="#/settings" type="button" class="btn  btn-default btn-sm" aria-hidden="true">Close</a>
                <button type="button" class="btn  btn-default btn-sm" aria-hidden="true" ng-click="logout()">Logout</button>
                <button type="submit" class="btn btn-primary btn-sm" ng-click="saveAccount()">Save Profile</button>
            </div>

        </div>
    </form>
</div> 