﻿<div class="headerbar">
    <div class="right">
        <a class="iconbutton btn" style="margin-right: 2px;" ng-click="backToMap()">
            <i class="fa fa-arrow-left fa-2x" style="color: lightgreen; "></i> Back to Map
        </a>
    </div>
    <div class="left-header" onclick="window.location.href = '#/map';" style="cursor: pointer;">
        Geo<img src="../touch-icon.png" class="app-icon" />Crumbs
    </div>
</div>
<div class="clearfix"></div>
