<div id="History" data-icon="HistoryIcon" ng-controller="historyController as vm">

    <div ng-include="'partials/HeaderBarWithBack.html'"></div>

    <div class="content-area slide-animation" ng-animate style="padding: 0">

        <div class="input-group input-group-sm" style="padding: 7px; background: #eeeeee;">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input type="text" id="HistorySearch" ng-model="historySearch"
                   class="form-control"
                   placeholder="Search your GeoCrumbs" />
            <span class="input-group-addon">
                <span class="badge">{{locationsFilter.length}}</span>
            </span>
        </div>

        <div class="history-item height-transition" data-id="{{location.Id}}"
             ng-repeat="location in locationsFilter = (vm.locationHistory | filter: historySearch | orderBy: '-Updated')"
             ng-click="vm.showOptions($event)">
            <div class="right history-item-small">
                {{location.Updated.formatDate("MMM. dd @ HH:mm")}}
            </div>


            <div class="history-item-header">
                <i class="fa fa-map-marker" style="color: #aa0000; font-size: 1.5em;"></i>
                &nbsp; {{location.Name}}
            </div>
            <div class="history-item-address">
                {{location.Address}}<br />
                <i>{{location.Notes}}</i>
            </div>

        </div>

        <div id="SlideWrapper" class="height-transition height-transition-hidden">
            <div id="HistoryItemOptions" class="history-item-options">
                <a id="btnShowHistoryItemOnMap" href="javascript:{}" class="iconbutton btn" ng-click="vm.showOnMap($event)"><i class="fa fa-map-marker"></i> Map</a>
                <a id="btnShowHistoryItemDirections" href="javascript:{}" class="iconbutton btn" ng-click="vm.showDirections($event)"><i class="fa fa-external-link"></i> Directions</a>
                <a id="btnEditHistoryItem" href="javascript:{}" class="iconbutton btn" ng-click="vm.editItem($event)"><i class="fa fa-edit"></i> Edit</a>
                <a id="btnDeleteHistoryItem" href="javascript:{}" class="iconbutton btn" ng-click="vm.deleteItem($event)"><i class="fa fa-times"></i> Delete</a>
            </div>
        </div>

    </div>
</div>
