<div id="LandingDialog" data-icon="Settings">
    <form action="javascript:{}">
        <div class="headerbar">
            <div class="left-header" >
                Geo<img src="../touch-icon.png" class="app-icon" xstyle="height: 35px;" />Crumbs
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="content-area">
            <div style="background: #eeeeee; padding: 12px; ">
                <p>
                    Track your favorite geo locations and sync them
                    across multiple devices.
                </p>
                
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#LandingOne">Location Bookmarking</a>
                            </h5>
                        </div>
                        <div id="LandingOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Bookmark your favorite locations for later retrieval
                                or finding your way back to location. You can browse
                                and search your GeoCrumbs for quickly finding your
                                previous locations.
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#LandingTwo">Mapping and Navigation</a>
                            </h5>
                        </div>
                        <div id="LandingTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Use your GeoCrumbs bookmarks to find locations previously
                                saved, and show them on the built in map, or in the map
                                application configured for your browser or device. Show
                                the location either in the app or in your Map app. You can
                                also bring up the map app to navigate to the location.
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#LandingThree">Find your way back</a>
                            </h5>
                        </div>
                        <div id="LandingThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Need to remember where you parked your car? Or 
                                how to get back to your hotel or a friend's house?
                                Or simply need to pull up directions you looked up on the
                                desktop, on your mobile device? Save the location, and then use
                                your GeoCrumbs to navigate back to that location.                                
                            </div>

                        </div>
                    </div>
                </div>


                <a href="#/map" class="btn btn-primary btn-lg" style="margin-top: 10px;width: 165px;">Get Started</a>

                <div style="margin-top: 15px;">
                    <a href="#/login" class="btn btn-default btn-sm" ng-show="!locationData.userToken">Log in</a>
                    <a href="#/account" class="btn btn-default btn-sm" ng-show="!locationData.userToken">Create account</a>
                </div>
            </div>
            <div style="margin-top: 10px; font-size: small">
                <i>
                    * for easiest operation bookmark this page on your
                    mobile device and pin it to your start screen. Click
                    on the 'Share' widget in your mobile browser and
                    use 'Add to Home Screen'.
                </i>
            </div>
        </div>

    </form>

</div> 