<div id="LoginDialog" data-icon="SearchIcon">
    <style>
        #LoginForm .btn {
            min-width: 140px !important;
        }
    </style>

    <form id="LoginForm" action="javascript:{}">
        <div class="headerbar">
            <div class="left-header">
                Geo<img src="../touch-icon.png" class="app-icon" />Crumbs
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="content-area" style="padding-top: 10px;">
            <div class="alert alert-dismissable" ng-show="(message)" ng-class="alertClass">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span ng-class="icon"></span>
                {{message}}
            </div>

            <div class="loginheader" ng-show="!forgotPassword">
                <h4>Log in</h4>
                Sign in to store your saved locations in the Cloud and share them across devices.
            </div>
            <div class="loginheader" ng-show="forgotPassword">
                <h4>Recover your Password</h4>
                <small>
                    Enter your email address, and we'll send you a temporary password to recover your account.
                    Log in with the new password and change your password.
                </small>
            </div>

            <hr style="margin: 5px 0 8px 0; " />
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-fw fa-envelope"></i>
                    </div>
                    <input type="email" class="form-control " id="UserName"
                           placeholder="Enter your email address"
                           ng-model="credentials.username" ng-required />
                </div>
            </div>
            <div class="form-group" ng-show="!forgotPassword">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-fw fa-unlock-alt"></i>
                    </div>
                    <input type="password" class="form-control " id="Password"
                           placeholder="Enter your password"
                           ng-model="credentials.password" ng-required />
                </div>
                <small><a href="javascript:{}" ng-click="forgotPasswordLink()">Forgot your password?</a></small>
            </div>

            <div class="well well-sm">
                <button type="submit" class="btn btn-primary stacked" ng-click="validateLogin()" ng-show="!forgotPassword">
                    Log in
                </button>
                <button type="submit" class="btn btn-primary stacked" ng-click="recoverPassword()"
                        ng-show="forgotPassword">
                    Recover Password
                </button>
            </div>

            <div class="well well-sm" style="padding: 3px 10px 5px;">
                <h5>No Account? No Problem!</h5>
                <p>
                    Create an account to allow you to synchronize your GeoCrumbs to multiple devices and browsers.
                </p>
                <hr style="margin: 5px 0 8px 0; " />
                <a href="#/account/new" type="button" class="btn btn-primary stacked">Create One</a>
            </div>
        </div>
    </form>

</div> 