﻿<div id="SaveLocationDialog" data-icon="LocationIcon">
    <form action="javascript:{}">
        <div class="headerbar">
            <div class="right">
                <a class="iconbutton btn" style="margin-right: 2px;"
                   accesskey="S" ng-click="saveLocation(locationData)">
                    <i class="fa fa-check fa-2x" style="color: lightgreen; "></i> Save Location
                </a>
            </div>
            <div class="left-header">
                Geo<img src="../touch-icon.png" class="app-icon" />Crumbs
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="content-area" ng-cloak>

            <div class="form-group">
                <label for="Name">Location Name:</label>
                <div class="input-group">
                    <input id="txtName" type="text" class="form-control input-sm" 
                           placeholder="Enter a name for this location"
                           ng-model="locationData.Name" />
                    <span class="input-group-addon" ng-click="clearName()"><span class=" fa fa-times-circle"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>
                <small style="font-size: 8pt">(optional) - lat/long: {{locationData.Latitude}},{{locationData.Longitude}}</small>
                <input type="text" class="form-control input-sm" id="Address"
                       placeholder="Optional address for reference" ng-model="locationData.Address" />
            </div>
            <div class="form-group">
                <label for="Address">Usage:</label>
                <select class="form-control input-sm" id="Usage" ng-model="locationData.Usage">
                    <option value="OneTime">One time</option>
                    <option value="Repeated">Repeated</option>
                    <option value="Frequent">Frequent</option>
                    <option value="Favorite">Favorite</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Address">Notes:</label>
                <textarea class="form-control input-sm" id="Notes" ng-model="locationData.Notes" placeholder="Optionally describe this location"></textarea>
            </div>
            <div>
                <button id="btnCloseSaveLocationDialog" type="button" class="btn  btn-default btn-sm" aria-hidden="true" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                    Cancel
                </button>
                <button id="btnSaveLocation2" type="submit" class="btn btn-primary btn-sm" ng-click="saveLocation(locationData)">
                    <i class="fa fa-check"></i>
                    Save location
                </button>
            </div>

        </div>
    </form>
</div>