<div id="SearchDialog" data-icon="SearchIcon" xclass="needsclick" >
    <form action="javascript:{}">
        <div class="headerbar">
            <div class="right">
                <a class="iconbutton btn" style="margin-right: 2px;" ng-click="searchLocation()">
                    <i class="fa fa-check fa-2x" style="color: lightgreen; "></i> Locate on Map
                </a>
            </div>
            <div class="left-header" onclick="window.location.href = '#/map';" style="cursor: pointer;">
                Geo<img src="../touch-icon.png" class="app-icon" />Crumbs
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="content-area slide-animation" ng-animate>
            <h4>Search</h4>
            <p>
                Search for a location or address and show it on the map.
            </p>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control input"
                       id="SearchLocation"
                       placeholder="Enter a location or address"
                       ng-model="locationData.searchAddress" />
                <span class="input-group-addon" ng-click="clearSearchAddress()"><i class="fa fa-times-circle"></i></span>
            </div>

            <!--<div class="modal-footer">
                <a href="#/map" class="btn  btn-default btn-sm" aria-hidden="true">Close</a>
                <button type="submit" id="btnLocateOnMap" class="btn btn-primary btn-sm" ng-click="searchLocation()">Locate on map</button>
            </div>-->
        </div>
    </form>
    
</div> 