<div id="SettingsDialog" data-icon="SearchIcon">
    <div ng-include="'partials/HeaderBarWithBack.html'"></div>

    <div class="content-area">
        <div class="alert alert-info alert-dismissable" ng-show="(message)">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span ng-class="icon"></span>
            {{message}}
        </div>

        <div class="list-group">
            <a href="javascript:{}" class="list-group-item" ng-click="deleteAllLocations()">
                <span class="badge">{{locationData.locationHistory.length}}</span> 
                <span class="fa fa-times">&nbsp;</span>
                Delete local GeoCrumbs
            </a>
            <a href="javascript:{}" class="list-group-item disabled" ng-click="syncWithServer()">
                <span class="fa fa-refresh" ng-class="syncing ? 'fa-spin' : ''">&nbsp;</span>
                Sync with Server
            </a>
            <a href="#/account" class="list-group-item disabled" ng-show="locationData.userToken">
                <span class="fa fa-user">&nbsp;</span>
                Your Account <small>{{locationData.userEmail}}</small> 
            </a>
            <a href="#/login" class="list-group-item disabled" ng-show="!locationData.userToken">
                <span class="fa fa-unlock">&nbsp;</span>
                Login to your Account
            </a>
            <a href="#/settings" class="list-group-item disabled" 
               ng-show="locationData.userToken" ng-click="logout()">
                <span class="fa fa-unlock">&nbsp;</span>
                Logout of your account
            </a>
            <a href="../" class="list-group-item">
                <span class="fa fa-home">&nbsp;</span>
                About GeoCrumbs
            </a>
        </div>            


        
    </div>
</div>